* {
    box-sizing: border-box;
}
p{
    text-align:justify;
}
.tab-space{
    display:block;
    word-wrap: break-word;
}
.blog-date{
    color: #607D8B;
    margin-top: -10px;
    display: block;
    margin-left: 3px;
    margin-bottom: 4px;
}
code {
    padding: 4px 18px;
    font-size: 90%;
    color: #337ab7;
    background-color: #f9f2f4;
    border-radius: 4px;
    display: block;
    margin-bottom:10px;
}
body {
    background: #ccc;
    font: 14px/22px "open_sans", Arial, sans-serif;
}

.myPic {
    overflow: hidden;
    min-height: 225px;
}

.main-section {
    margin: 50px auto;
}

.left-side, .right-side {
    background: #fff;
    width: 100%;
    float: left;
}

.margin-zero {
    margin: 0px 25px;
}


/*.left-side {
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19)!important;
}

.right-side {
    box-shadow: 0 2px 4px 0 rgba(0, 0, 0, 0.16), 0 2px 10px 0 rgba(0, 0, 0, 0.12)!important;
}*/

.myMenu>ul {
    list-style: none;
    margin-top: -10px;
    margin-left: -40px;
}

.myMenu>ul li a {
    width: 100%;
    float: left;
    display: block;
    padding: 15px 25px;
    background: #33373d;
    color: #eee;
    font-weight: 700;
    border-bottom: 1px solid #444;
    transition: 0.4s all ease-in-out 0s;
    text-transform: uppercase;
    transform: translateZ(0);
}

.myMenu>ul li a:hover, .active-tab {
    background: #cd5353 !important;
    color: #fff;
}

.myPic img {
    width: 100%;
}

.mySocial>ul {
    list-style: none;
    margin-left: -40px;
    text-align: center;
}

.mySocial ul li {
    display: inline-block;
}

.mySocial {
    float: left;
    width: 100%;
}

.mySocial>ul li a {
    display: block;
    border: 1px solid #ddd;
    border-radius: 50%;
    color: #999;
    background: transparent;
    width: 35px;
    height: 35px;
    margin: 7px 6px -3px;
    line-height: 35px;
    font-size: 17px;
    transition: 0.5s;
}

.mySocial>ul li:nth-child(1) a:hover {
    background: #3b5998;
    color: #fff;
    border-color: #3b5998;
}

.mySocial>ul li:nth-child(2) a:hover {
    background: #1DA1F2;
    color: #fff;
    border-color: #1DA1F2;
}

.mySocial>ul li:nth-child(3) a:hover {
    background: #0177b5;
    color: #fff;
    border-color: #0177b5;
}

.copyright {
    text-align: center;
    padding: 2px 10px 10px;
    color: #999;
    float: left;
    width: 100%;
}

.heading {
    font-size: 15px;
    padding: 10px;
    margin: 12px 20px;
    border-bottom: 1px solid #1abc9c;
    text-transform: uppercase;
    font-weight: bold;
    font-family: 'open_sansextrabold', Arial, sans-serif;
}

.name {
    padding: 2px 10px;
    margin: 12px 20px;
    font-weight: bold;
}

.tag-line {
    color: #777;
    margin: -13px 35px 10px;
    text-transform: uppercase;
    font-weight: 600;
}

.desc {
    padding: 2px 10px;
    color: #888;
    text-align: justify;
}

.info-tbl tr td {
    color: #888;
    background: #f9f9f9;
}

.skills {
    padding: 12px 35px;
}

.skills .progress {
    border-radius: 10px;
}

.skills .progress-bar-success {
    background: #1abc9c;
}

.skill-title {
    -webkit-transform: rotate(90deg);
    transform: rotate(90deg);
    -ms-transform: rotate(90deg);
    left: -15px;
    padding: 5px 25px;
    position: absolute;
    text-align: center;
    text-transform: uppercase;
    top: 0;
    border: 2px dashed #999;
    padding: 10px;
    width: 150px;
    margin-top: 94px;
    margin-left: -30px;
    position: relative;
    color: #999;
    font-weight: bold;
    font-size: inherit;
}

.progress-bar-mod {
    background: #607d8b;
}

.exp-detail {
    position: relative;
    padding: 12px 35px;
}

.exp>ul {
    margin-left: -35px;
}

.exp>ul li {
    list-style-type: none;
    position: relative;
    width: 6px;
    margin: 0px;
    padding-top: 10px;
    background: #efefef;
}

.exp>ul li::after {
    content: '';
    position: absolute;
    left: 50%;
    top: 18px;
    transform: translateX(-50%);
    width: 10px;
    height: 10px;
    border-radius: 50%;
    background: #607d8b;
}

.exp>ul li div {
    position: relative;
    bottom: 0;
    width: 730px;
    padding: 6px 0px;
    text-align: justify;
    line-height: 1.5;
    left: 20px;
}

.exp>ul li div>h4 {
    font-size: 16px;
    font-weight: bold;
    margin-top: 0px;
    margin-bottom: 2px;
}

.exp>ul li div>span {
    color: #777;
    display: block;
    font-style: italic;
    font-size: 13px;
}

.exp-detail>span {
    display: block;
    border: 2px solid #ddd;
    width: 40px;
    height: 40px;
    line-height: 36px;
    text-align: center;
    border-radius: 50%;
    font-size: 18px;
    left: -13px;
}

.exp-content {
    margin-top: 8px;
    color: #999;
}


/*.exp ul li div::before {
    content: '';
    position: absolute;
    top: 7px;
    width: 0;
    height: 0;
    border-style: solid;
    left: -12px;
    border-width: 6px 12px 6px 0;
    border-color: transparent #eee transparent transparent;
}*/

.serviceIcon {
    color: #1abc9c;
    font-size: 3.5em;
}

.serviceCntnt>h5 {
    color: #607d8b;
    text-transform: uppercase;
    font-weight: bold;
}

.serviceCntnt {
    color: #999;
    padding: 12px;
}

.cvbtn {
    padding: 6px 15px;
    text-transform: uppercase;
    background: #33373d;
    border: 1px solid #33373d;
    transition: 0.5s ease;
    outline: none;
    color: #fff !important;
    text-decoration: none !important;
    margin: 6px 8px 16px;
    display: inline-block;
}

.cvbtn:hover {
    background: #1abc9c;
    border: 1px solid #1abc9c;
}


/*Project tab start*/

.projects {
    position: relative;
    width: 100%;
    overflow: hidden;
    margin-top: 15px;
    max-height: 245px;
}

.projects img {
    width: 100%;
    display: block;
}

.overlay {
    position: absolute;
    bottom: 100%;
    left: 0;
    right: 0;
    background-color: rgba(205, 83, 83, 0.8);
    overflow: hidden;
    width: 100%;
    height: 0;
    transition: .5s ease;
}
.overlay p{
    text-align:center !important;
}
.projects:hover .overlay {
    bottom: 0;
    height: 100%;
}

.text {
    color: #fefefe;
    position: absolute;
    overflow: hidden;
    padding: 45px 15px 15px;
    text-align: center;
    width: 100%;
    /*top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    -ms-transform: translate(-50%, -50%);*/
}

.text:hover {
    text-decoration: none;
    color: #fff;
}


/*Project tab end*/


/*contact me start*/

.myInfo {
    border: 1px solid #efefef;
    margin: 40px 15px 15px;
    padding: 12px;
    position: relative;
    width: 96%;
    float: left;
}

.myInfo>span {
    top: -53px;
    background: #cd5353;
    padding: 20px;
    font-size: 24px;
    color: #fff;
    border-radius: 50%;
    border: 5px solid #fff;
}

.contactIcons {
    font-size: 16px;
    padding: 14px;
    border-radius: 50%;
    background: #33373d;
    color: #fff;
    top: 38px;
    border: 5px solid;
}

.info-add {
    margin: 10px 0 -10px;
    color: #9b9b9b;
    font-weight: 700;
}

.zeroMargin {
    margin: 12px 6px;
}

.msgArea {
    height: 130px !important;
    resize: none;
}

.send-emailbtn {
    padding: 6px 25px;
}

.myInfo>.address {
    width: 70%;
    margin: 0 auto;
    font-size: 20px;
    font-weight: 600;
    line-height: 1.5;
    margin-top: -35px;
    color: #607D8B;
}

.myMenu>ul li .glyphicon {
    margin-top: 3px;
}

section.main-section {
    width: 85%;
}


/*contact me end*/

@media only screen and (min-width: 992px) and (max-width: 1200px) {
    section.main-section {
        width: 85%;
    }
    .exp>ul li div {
        width: 450px;
    }
}

@media only screen and (min-width: 768px) and (max-width: 991px) {
    section.main-section {
        width: 90%;
    }
    .myMenu {
        width: 100%;
    }
    .myMenu>ul li {
        display: inline-block;
        width: 25%;
        margin: -2px;
    }
    .myMenu>ul li:first-child {
        margin-left: 0px;
    }
    .myMenu>ul li a {
        width: 100%;
        margin: 0px;
        border-bottom: 0px;
    }
    .exp>ul li div {
        width: 585px;
    }
}

@media only screen and (max-width: 767px) {
    .contactIcons {
        display: none;
    }
    .info-add {
        margin: 20px 0 0px;
    }
}

@media only screen and (min-width: 650px) and (max-width: 767px) {
    section.main-section {
        width: 95%;
    }
    .myMenu>ul li:first-child {
        margin-left: 0px;
    }
    .myMenu>ul li {
        display: inline-block;
        width: 25%;
        margin: -2px;
    }
    .skill-title {
        padding: 5px 25px;
        text-align: center;
        transform: inherit;
        text-transform: uppercase;
        top: 0;
        border: 2px dashed #999;
        width: 230px;
        color: #999;
        font-weight: bold;
        font-size: inherit;
        margin: 0 auto;
        margin-top: 4px !important;
    }
    .exp>ul li div {
        width: 498px;
    }
}

@media only screen and (min-width: 481px) and (max-width: 649px) {
    .menu-name {
        display: none;
    }
    .myMenu>ul li {
        display: inline-block;
        width: 25%;
        margin: -2px;
        text-align: center;
    }
    .myMenu>ul li:first-child {
        margin-left: 0px;
    }
    .myMenu>ul li a {
        border-right: 1px solid #111;
    }
    .myMenu>ul li:last-child a {
        border: none;
    }
    .myMenu>ul li a:hover, .myMenu>ul li a:active, .myMenu>ul li a:visited {
        text-decoration: none;
    }
    .myMenu>ul li .glyphicon {
        float: none !important;
        display: block;
        font-size: 19px;
    }
    .skill-title {
        padding: 5px 25px;
        text-align: center;
        transform: inherit;
        text-transform: uppercase;
        top: 0;
        border: 2px dashed #999;
        width: 230px;
        color: #999;
        font-weight: bold;
        font-size: inherit;
        margin: 0 auto;
        margin-top: 4px !important;
    }
}

@media only screen and (max-width: 480px) {
    .skill-title {
        padding: 5px 25px;
        text-align: center;
        transform: inherit;
        text-transform: uppercase;
        top: 0;
        border: 2px dashed #999;
        width: 230px;
        color: #999;
        font-weight: bold;
        font-size: inherit;
        margin: 0 auto;
        margin-top: 4px !important;
    }
}

@media only screen and (min-width: 600px) and (max-width: 649px) {
    .exp>ul li div {
        max-width: 367px;
    }
}

@media only screen and (min-width: 570px) and (max-width: 599px) {
    .exp>ul li div {
        max-width: 340px;
    }
}

@media only screen and (min-width: 545px) and (max-width: 569px) {
    .exp>ul li div {
        max-width: 320px;
    }
}

@media only screen and (min-width: 525px) and (max-width: 544px) {
    .exp>ul li div {
        max-width: 300px;
    }
}

@media only screen and (min-width: 500px) and (max-width: 524px) {
    .exp>ul li div {
        max-width: 290px;
    }
}

@media only screen and (min-width: 481px) and (max-width: 499px) {
    .exp>ul li div {
        max-width: 270px;
    }
}

@media only screen and (min-width: 450px) and (max-width: 480px) {
    .exp>ul li div {
        max-width: 260px;
    }
}

@media only screen and (min-width: 430px) and (max-width: 449px) {
    .exp>ul li div {
        max-width: 240px;
    }
}

@media only screen and (min-width: 410px) and (max-width: 429px) {
    .exp>ul li div {
        max-width: 220px;
    }
}

@media only screen and (min-width: 380px) and (max-width: 409px) {
    .exp>ul li div {
        max-width: 200px;
    }
}

@media only screen and (min-width: 350px) and (max-width: 379px) {
    section.main-section {
        width: 100%;
    }
    .exp>ul li div {
        max-width: 250px;
    }
}


/* Smartphones (portrait and landscape) ----------- */

@media only screen and (min-width: 300px) and (max-width: 349px) {
    section.main-section {
        width: 100%;
    }
    .exp>ul li div {
        width: 215px;
    }
}

@media only screen and (max-width: 299px) {
    section.main-section {
        width: 100%;
    }
    .exp>ul li div {
        width: 170px;
    }
}
