<div ng-repeat="item in $ctrl.items" class="margin-zero">

  <h3>{{item.ques}}</h3>
  <p>{{item.defination}}</p>
  <p> {{item.infoPart1}}</p>
  <p> {{item.infoPart2}}</p>
  
  <code>{{item.examples[0].example1.line1}} 
    <span class="tab-space">{{item.examples[0].example1.line2}}</span>
    <span class="tab-space">{{item.examples[0].example1.line3}}</span>
    <span class="tab-space"><span class="tab-space">{{item.examples[0].example1.line4}}</span></span>
    <span class="tab-space">{{item.examples[0].example1.line5}}</span>
    <span class="tab-space">{{item.examples[0].example1.line6}}</span>
    {{item.examples[0].example1.line7}}<br/>
    <p>{{item.examples[0].example1.line8}}</p>
</code>
  <p> {{item.infoPart3}}</p>
  <p> {{item.infoPart4}}</p>
  <p> {{item.infoPart5}}</p>
<script>
    var url = window.location.href;
    //alert("url: "+url.indexOf('blogs'));
    if (url.indexOf('blogs') > -1) {
        // alert("inside 34");
        $("#blogs").addClass('active-tab');
    }
</script>
