<div ng-repeat="item in $ctrl.items" class="margin-zero">

  <h3>{{item.ques}}</h3>
  <small class="blog-date">{{item.date}}</small>
  <p>{{item.defination}}</p>
  <p> {{item.infoPart1}}</p>
  <div>{{item.infoTopic.topics | json }}</div>
  <div ng-repeat = "topics in item.infoTopic.topics"> 
    <h4>{{topic.name}}</h4>
    <p ng-repeat="point in  topic.points">
      {{point.info}}
    </p>
    <code ng-repeat="example in topics.example">
      <span class="tab-space">{{example.lineno}} &nbsp; &nbsp; {{example.data}}</span>
      
    </code>
  </div>
  
  
 
  <p> {{item.infoPart2}}</p>
  
  <h3>{{item.summary.heading}}</h3>
  <p ng-repeat = 'point in item.summary.points'>
    <b>{{point.point}}</b>. {{point.info}}
  </p>
  
<script>
    var url = window.location.href;
    //alert("url: "+url.indexOf('blogs'));
    if (url.indexOf('blogs') > -1) {
        // alert("inside 34");
        $("#blogs").addClass('active-tab');
    }
</script>
