<div ng-repeat="item in $ctrl.items" class="margin-zero">

  <h3>{{item.ques}}</h3>
  <p>{{item.defination}}</p>
  <p> {{item.infoPart1}}</p>
  <p> {{item.infoPart2}}</p>
  
  <code>{{item.examples[0].example1.line1}}</code>
  <code>{{item.examples[0].example1.line2}}</code>
  <code>{{item.examples[0].example1.line3}}</code>
  <code>{{item.examples[0].example1.line4}}</code>
  <code>{{item.examples[0].example1.line5}}</code>
  <code>{{item.examples[0].example1.line6}}</code>
  <code>{{item.examples[0].example1.line7}}</code>
</div>
<script>
    var url = window.location.href;
    //alert("url: "+url.indexOf('blogs'));
    if (url.indexOf('blogs') > -1) {
        // alert("inside 34");
        $("#blogs").addClass('active-tab');
    }
</script>
