<div ng-repeat="item in $ctrl.items" class="margin-zero">

  <p>
    {{item.description}}
  </p>

<table class="table table-striped">
  <tr>
    <th>Project</th>
    <td colspan="2">{{item.name}}</td>
  </tr>
  <tr>
    <th>Client</th>
    <td colspan="2">  {{item.client}}</td>
  </tr>
  <tr>
    <th>Duration</th>
    <td colspan="2">  {{item.dur}}</td>
  </tr>
  <tr>
    <th rowspan="3">Technology Used</th>
    <th>Front-End</th>
    <td>{{item.technologies.frontEnd}}</td>
  </tr>
  <tr>
  <th>Back-End</th>
  <td>{{item.technologies.backEnd}}</td>
  </tr>
  <tr>
    <th>Database</th>
    <td>{{item.technologies.database}}</td>
  </tr>
  <tr>
    <th>Responsibilities</th>
    <td colspan="2"> <ol>
      <li>{{item.responsibility.res1}}</li>
      <li>{{item.responsibility.res2}}</li>
      <li>{{item.responsibility.res3}}</li>
      <li>{{item.responsibility.res4}}</li>
      <li>{{item.responsibility.res5}}</li>
    </ol>
    </td>
  </tr>
</table>




</div>
<script>
var url = window.location.href;
//alert("url: "+url.indexOf('projects'));
if(url.indexOf('projects') > -1){
 // alert("inside 34");
  $("#projects").addClass('active-tab');
}

</script>
